.task {
  background-color: var(--COLOR-GRAY-LIGHT);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
  cursor: move;
}

.task p {
  color: #fff;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 16px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove {
  background-color: red;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.status {
  color: #fff;
  font-size: 14px;
  padding: 3px;
  border-radius: 5px;
}

.PLANNED {
  background-color: var(--COLOR-GRAY-DARK);
}

.ONGOING {
  background-color: var(--COLOR-GRAY-ONGOING);
}

.DONE {
  background-color: var(--COLOR-GRAY-DONE);
}
