.column {
  background-color: var(--COLOR-GRAY-DARK);
  height: 400px;
  width: 33.3%;
  padding: 20px;
  border-radius: 10px;
}

.column h3 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
}
